<div class="lives">
  <mat-card class="example-card" *ngFor="let live of lives; let i = index">
      <mat-card-header *ngIf="live">
        <div mat-card-avatar class="live-header-image"></div>
        <mat-card-title>{{ live.user.name }}</mat-card-title>
        <mat-card-subtitle>@{{ live.user.username }}</mat-card-subtitle>
      </mat-card-header>
      <div class="image-channel">
        <img mat-card-image  src="./assets/images/lives/{{ live.user.username }}/thumb.png">
      </div>
      <mat-card-content class="live-description">
        <p>
          {{ live.description }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="play(live.user.username)">Play</button>
      </mat-card-actions>
  </mat-card>
</div>