.live-image { 
  max-width: 30px;
  max-height: 30px;
  background-image: url('~src/assets/images/live.png');
}

.form {
    min-width: 300px;
    width: 100%;
}

.form-field {
  width: 200px;
}

.user-live-card {
	max-width: 50%;
  margin-bottom: 50px;
  margin-right: 10px;
  float: left;
}

.messages-live-card {
  max-width: 50%;
  max-height: 30%;;
  margin-bottom: 50px;
  margin-right: 10px;
  float: left;
}

.viewport {
  height: 300px;
  width: 100%;
}

.send-message {
  width: 100%;
}

.icon-send {
  margin-left: 5px;
  width: 1.2rem !important;
  height: 1.2rem !important;
  font-size: 1.2rem !important;
}


.message-header-image {
  background-image: url('~src/assets/images/message.png');
  background-size: cover;
}

.message {
  margin-left: 10px;
  margin-top: 10px;
  padding: 10px;
  max-width: 100%;
  background-color: rgb(222, 230, 245);
  color: rgba(0, 0, 0, 0.8);
  
  border-radius: 5px;
}

.block-live-img {
  text-align: center;
  margin-top : 20% !important;
}

.live-img {
  max-width: 25%;
}

.live-card {
  width: 1000px !important;
  min-height: 460px !important;
}

.user-message-label {
  margin-top: 100px;
}