{{define "title"}}
  SnakePro | {{index . "name"}}
{{end}}

{{define "body"}}
    <div class="container">
        <h2>{{index . "name"}}</h2>
    </div>

    <div class="container" id="container-form">
        <div class="card">
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                <li class="tab"><a href="#register">Register</a></li>
                <li class="tab"><a class="active" href="#login">Login</a></li>
                </ul>
            </div>
            <div class="card-content grey lighten-4">
                <div id="login">
                    <!-- Login form -->
                    <form class="col s12" action="/login" method="post" id="login">
                            <div class="row">
                                <div class="input-field col s6 offset-s3">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input id="user_login" name="user" type="text">
                                    <label for="user_login">User</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6 offset-s3">
                                    <i class="material-icons prefix">vpn_key</i>
                                    <input id="pass_login" name="pass" type="password">
                                    <label for="pass_login">Password</label>
                                </div>
                            </div>
                            <div class="row">
                                <button class="btn waves-effect waves-light col s4 offset-s4" type="submit">Login
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                    </form>
                </div>
                <div id="register">
                        <!-- Register form -->
                        <form class="col s12" action="/register" method="post" id="register">
                                <div class="row">
                                    <div class="input-field col s6 offset-s3">
                                        <i class="material-icons prefix">account_circle</i>
                                        <input id="user_register" name="user" type="text">
                                        <label for="user_register">User</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s6 offset-s3">
                                        <i class="material-icons prefix">vpn_key</i>
                                        <input id="pass_register" name="pass" type="password">
                                        <label for="pass_register">New Password</label>
                                    </div>
                                </div>
                                <div class="row">
                                        <div class="input-field col s6 offset-s3">
                                            <i class="material-icons prefix">vpn_key</i>
                                            <input id="passcheck_register" name="passcheck" type="password">
                                            <label for="passcheck_register">Confirm Password</label>
                                        </div>
                                </div>
                                <div class="row">
                                    <button class="btn waves-effect waves-light col s4 offset-s4" type="submit">Register
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
<script>
document.getElementById('login').addEventListener('submit', (e) => {
    e.preventDefault();
    const formData = new FormData(e.target);
    const data = Array.from(formData.entries()).reduce((memo, pair) => ({
        ...memo,
        [pair[0]]: pair[1],
    }), {});
    var json;
    json = JSON.stringify(data);
    // Set up our request
    var XHR = new XMLHttpRequest();
    // Define what happens on after data submission
    XHR.onreadystatechange = function (event) {
        if (XHR.readyState == 4) {
            if (XHR.status == 200) {
                alert('Response: '+event.target.responseText);
                document.getElementById('container-form').innerHTML = `
                <div class="row">
                    <div class="col s12 m12">
                        <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">`+event.target.responseText+`</span>
                            <p>Your authentication was successful!</p>
                        </div>
                        <br/>
                        <a href="/game/ranking" class="btn waves-effect waves-light col s4 offset-s4">Ranking</a>
                        <br/>
                        <a href="/game/play" class="btn waves-effect waves-light col s4 offset-s4">PLAY!</a>
                        </div>
                    </div>
                </div>
                `;
            } else {
                // Define what happens in case of error
                alert('Response: '+event.target.responseText);
            }
        }
    };
    XHR.open('POST', '//localhost:10003/login');
    XHR.setRequestHeader('Content-Type','application/json' );
    // The data sent is what the user provided in the form
    XHR.send(json);
});
document.getElementById('register').addEventListener('submit', (e) => {
    e.preventDefault();
    const formData = new FormData(e.target);
    const data = Array.from(formData.entries()).reduce((memo, pair) => ({
        ...memo,
        [pair[0]]: pair[1],
    }), {});
    var json;
    json = JSON.stringify(data);
    // Set up our request
    var XHR = new XMLHttpRequest();
    // Define what happens on after data submission
    XHR.addEventListener('load', function(event) {
        alert('Response: '+event.target.responseText);
    });
    XHR.open('POST', '//localhost:10003/register');
    XHR.setRequestHeader('Content-Type','application/json' );
    // The data sent is what the user provided in the form
    XHR.send(json);
});
</script>
{{end}}
