<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Tic-Tac-Toe</title>
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="stylesheet" href="../css/jogodavelha.css">
</head>
<script>
    function returnLogin() {
        window.location.href = 'login';
    }
</script>
<body class="conteudo">
    <h1>Tic-Tac-Toe</h1>
    <div class="pencilBorder boxinfo"> 
        Invalid token
        <div class="buttonPlay pencilBorder" onclick="returnLogin();">
            OK
        </div>
    </div>
</body>

</html>