<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Tic-Tac-Toe</title>
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="stylesheet" href="../css/jogodavelha.css">
    <link rel="stylesheet" href="../css/home.css">

</head>
<body class="conteudo">
    <div class="pencilBorder boxMenu"> 
            <h1>Welcome!!</h1>

            <a class="buttonLink pencilBorder" href="/game">
                PLAY!
            </a>
            <a class="buttonLink pencilBorder" href="/statistics">
                Statistics
            </a>
        </div>

</body>

</html>