<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Tic-Tac-Toe</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<script src="../js/sender.js"></script>
<body >
    <div class="login">
        <div class="ticTacTitle">Tic-Tac-Toe!</div>
        <div class="loginBox">
            <form onsubmit="login(event);">
                <div class="loginTitle">
                    Login
                </div>
                <div id="message"><div>
                <label for="username"> Username </label> 
                <input type="text" name="username" id="username">
                <label for="password"> Password </label> 
                <input type="password" name="password" id="password">
                <input type="submit" value="Go!" >
            </form>
            Don't have an account? <a href="/create">Create now</a>!
        </div>
    </div>
</body>

</html>