h1 {
    font-size: 32pt;
    color: whitesmoke;
}

.boxMenu {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 3;
    font-size: 48pt;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    top: 20%;
    left: 50%;
    margin-top: -100px;
    margin-left: -175px;
    z-index: 10;
    height: 400px;
    width: 350px;
    text-align: center;
    background-color: darkgoldenrod;
}

.buttonLink {
    position: relative;
    height: 50px;
    width: 200px;
    font-size: 24pt;
    vertical-align: bottom;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    z-index: 20;
    text-decoration: none;
    background-color: cornflowerblue;
}