<!DOCTYPE html>
<html lang="en">

  <head>
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       <meta name="description" content="">
       <meta name="author" content="">

       <title>GamesIRADOS.com</title>

       <!-- Bootstrap core CSS -->
       <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">

       <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">

       <!-- Custom styles for this template -->
       <link rel="stylesheet" href="{{ url_for('static', filename='css/2-col-portfolio.css')}}">
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">GamesIRADOS.com</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/coupon">Código de produto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Sair</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">Ative um código de game!</h1>
      <div class="container">
         {% with messages = get_flashed_messages(with_categories=true) %}
           {% if messages %}
            {% for category, message in messages %}
            {% set class = "alert alert-" + category|string %}
            <div class="{{ class }}">
               <button type="button" class="close" data-dismiss="alert">&times;</button>
               {{ message }}
            </div>
            {% endfor %}
           {% endif %}
         {% endwith %}
      </div>
      <div class="div-sizee">
         <form action="/coupon" name="coupon" method="POST" >
            <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
            <center><input type="text" class="input-login" name= "coupon" aria-describedby="sizing-addon1"  maxlength="10" placeholder="Cupom"></center>
            <br>
            <br>
            <button type="submit" class="btn full-width" style="width: 100%; ">GO!</button>
            <br>
            <br>
            <br>
            <br>
         </form>
      </div>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Games Irados 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
