body {
  text-align: center;
  font-family: sans-serif;
  background-color: #eeeeee;
}

.title {
  margin: 0;
  border: none;
  text-align: center;
  color: #1FB264;
  font-weight: 700;
  padding-bottom: 2%
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

body, textarea {
  font-family: sans-serif;
  color: #1FB264;
  border: none;
}

p {
  text-indent: 1.5em;
}

.section {
  width: 450px;
  margin: auto;
  overflow: auto;
  margin-bottom: 30px;
  padding: 30px;
}

@media (max-width: 700px) {
  .section {
      width: 70%;
  }

  h1 {
      margin-bottom: 60px;
  }
}

.dark {
  background-color: lightgray;
  border-style: solid;
  border-width: 1px;
  border-color: #1FB264;
  font-family: sans-serif;
}

.sectionbody {
  margin-top: 40px;
  text-align: center;
}

.step {
  text-transform: uppercase;
  position: absolute;
  margin-top: -50px;
  margin-left: -50px;
  background-color: #1FB264;
  color: white;
  padding: 20px;
  font-size: 20px;
  font-family: sans-serif;
}

.left {
  width: 45%;
  float: left;
}

.right {
  width: 45%;
  float: right;
}

.password {
  width: 100%;
}

.message {
  width: 100%;
}

.submit {
  float: right;
}

.preview {
  margin-top: 30px;
  width: 100px;
  float: right;
}

.hide {
  display: none;
}

#output[src] {
  margin-bottom: 1em;
  box-shadow: 0px 0.5em 1em rgba(0,0,0,0.5);
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding-top: 10px;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}

.btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.btn:active {
  border: 0;
  transition: all .2s ease;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

