<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Tic-Tac-Toe</title>
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="stylesheet" href="../css/jogodavelha.css">
</head>
<body class="conteudo">
    <h1>Tic-Tac-Toe</h1>
    <div id="bender">
        <img src="../img/bender.png" width="200px" height="500px" alt="bender">
    </div>
    <div id="fryPoints">0</div>
    <div id="benderPoints">0</div>
    <div id="fry">
        <img src="../img/fry.png" width="200px" height="500px" alt="fry">
    </div>
    <script src="../js/jogodavelha.js"></script>
    <script src="../js/sender.js"></script>
</body>

</html>