<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Tic-Tac-Toe</title>
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="stylesheet" href="../css/statistics.css">
</head>
<body>
    <div class="box">
        <div id="numbers">
            <div class='label'>
                Total
            </div>
            <div class='d' id="games">
            </div>
            <div class='label'>
                Wins
            </div>
            <div class='d' id="wins">
            </div>
            <div class='label'>
                Loses
            </div>
            <div class='d' id="loses">
            </div>
            <div class='label'>
                Ties
            </div>
            <div class='d' id="ties">
            </div>
        </div>
        <div id="chartContainer">
        </div>
    </div>
    <script src="../js/sender.js"></script>
    <script src="../js/statistics.js"></script>
    <script src="../js/external/canvasjs.min.js"></script>

</body>

</html>
