.example-card {
	max-width: 250px;
	margin-bottom: 50px;
	margin-left: 30px;
    float: left;
}
  
.live-header-image {
	background-image: url('~src/assets/images/live.png');
	background-size: cover;
}

.live-description {
	min-height: 45px !important;
}

.lives {
	margin-top: 80px;
}