<html>
  <head>
    <title>online cowsay</title>
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css">
        <link rel="stylesheet" href="/static/stylesheet.css">
  </head>
  <body>
    <nav class="navigation">
      <section class="container">
        <a class="navigation-title">
          <h1 class="title">online cowsay</h1>
        </a>
        <ul class="navigation-list float-right">
          <li class="navigation-item"><a class="navigation-link">Foo</a></li>
          <li class="navigation-item"><a class="navigation-link">Bar</a></li>
        </ul>
      </section>
    </nav>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
  </body>
</html>

